<div class="toolbar">
  <img class="logo" src="src/assets/logo.png">
      <div class="links">
        <div class="dropdown">
        <button> How it works </button> &#160;&#160;
          <div class="dropdown-content">
            <a href="#">How it works</a>
            <p><strong>Company Types</strong></p>
            <a href="#">UK Limited Company Formation</a>
            <a href="#">Limited by Guarantee Company</a>
            <a href="#">Limited by Shares Company</a>
            <a href="#">Limited Liability Partnership</a>
            <a href="#">Public Limited Company</a>
            <a href="#">Flat Management Company</a>
          </div>
        </div>

        <div class="dropdown">
        <button> Packages </button> &#160;&#160;
          <div class="dropdown-content">
            <a href="#">Company Formation Packages</a>
            <p><strong>Other Company Services</strong></p>
            <a href="#">International Packages</a>
            <a href="#">Reserve a Company Name</a>
            <a href="#">Shelf Companies</a>
            <a href="#">Sole Trader Start Up Pack</a>
            <a href="#">Contractor Package</a>
          </div>
        </div>
        
        <div class="dropdown">
        <button> Address Services </button> &#160;&#160;
          <div class="dropdown-content">
            <a href="#">Mail Forwarding</a>
            <a href="#">Registered Office</a>
            <a href="#">Service Address</a>
            <a href="#">Virtual Office</a>
          </div>
        </div>

        <div class="dropdown">
        <button> Additional Services </button> &#160;&#160;
          <div class="dropdown-content two-column">
            <div class="left">
            <p><strong>Accountancy</strong></p>
            <a href="#">Accountancy Consultation</a>
            <a href="#">Business Bank Account</a>
            <p><strong>Legal</strong></p>            
            <a href="#">Confirmation Statement Service</a>
            <a href="#">PSC Services</a>
            <a href="#">Company Name Change</a>
            <a href="#">Company Dissolution</a>
            <a href="#">VAT and PAYE registration</a>
            <a href="#">Dormant Company Accounts</a>
            <a href="#">Share Services</a>
            </div>
            <div class="right">
            <p><strong>Renewals</strong></p>
            <a href="#">Renewal fees</a>
            <a href="#">Reserve a company</a>
            <p><strong>Official Company Products</strong></p>
            <a href="#">Company Register, Seal & Stamp</a>
            <a href="#">Apostille Documents Service</a>
            <a href="#">Certificate of Good Standing</a>
            <a href="#">Supplementary Documents</a>
            </div>
          </div>
        </div>

        <div class="dropdown">
        <button> Support </button> &#160;&#160;
          <div class="dropdown-content">
            <p><strong>Help</strong></p>
            <a href="#">Support Home</a>
            <a href="#">FAQs</a>
            <a href="#">Chat with us</a>
            <a href="#">Email us</a>
            <p><strong>Resources</strong></p>            
            <a href="#">Small Business Advisor</a>
            <a href="#">Sole Trader v Limited Company</a>
            <a href="#">Guides</a>
            <a href="#">Business Templates/Forms</a>
          </div>
        </div>
    </div>

  <div class="nav-right">
    <img class="icons" src="src/assets/icons.png">
  </div>
  
</div>
<router-outlet></router-outlet>
